<div class="add-page">

  <div>Add page or app password</div>
  <div><input type="text" ng-model="category" placeholder="Category"/></div>
  <div><input type="text" ng-model="page" placeholder="Page Name"/></div>
  <div><input type="text" ng-model="user" placeholder="Username"/><input type="password" ng-model="password" placeholder="Password"/></div>
  <div><button ng-click="addPage();">Add It</button></div>

</div>