
<div class="left-panel">
    <div>Search Pages</div>
    <div>
        <span><input type="text" id="searchTextField" ng-model="searchText"/></span>
            <span><select ng-model="model.id">
                <option value="All">All</option>
                <option ng-repeat="category in categoryList" value="{{category.category}}">{{category.category}}</option>
            </select>
            </span>
    </div>
    <div ng-repeat="page in pageList | filter:searchText | filter:categoryFilter" ng-init="edit=false" class="pageList">
        <span ng-if="!edit" ng-click="showPage(page);">{{page.page}}</span>
        <span ng-if="edit"><input id="input-{{$index}}" type="text" ng-model="page.page" ng-blur="updatePage(page);$parent.edit = false" custom-autofocus="edit" /></span>
        <span class="icon icon-bin" ng-click="deletePage(page)"></span>
        <span class="icon icon-pencil" ng-click="edit=!edit; setFocus($index);"></span>
    </div>
</div>

<div class="right-panel">
    <div><strong>Details</strong></div>
    <div>Page : {{page.page}}</div>
    <div>Category : {{page.category}}</div>
    <div>Added : {{page.updated}}</div>
    <div><button ng-click="openNewTab();">Open Password in New Page</button></div>
</div>