
<div ng-init="show=false;">
    <div>{{page.page}}</div>
    <div>Username : {{page.user}}</div>
    <div ng-show="!show" ng-click="copyPassword();">Password : {{displayPassword}}</div>
    <div ng-show="show" ng-click="copyPassword();">Password : {{page.password}}</div>
    <div><button ng-click="show=true;">Show plaintext</button></div>
    <TEXTAREA ID="holdtext" STYLE="display:none;"></TEXTAREA>
</div>