/* app css stylesheet */

@font-face {
  font-family: "Lato Light";
  src: url('fonts/Lato-Light.eot');
  src: url('fonts/Lato-Light.eot?#iefix') format('embedded-opentype'),
  url('fonts/Lato-Light.svg#Lato Black') format('svg'),
  url('fonts/Lato-Light.woff') format('woff'),
  url('fonts/Lato-Light.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
body{
  font-family: "Arial", Helvetica, sans-serif;
  font-family: "Lato Light";
  direction: ltr;
}

.nav-bar{
  text-align: right;
  padding: 2em;

}
.nav-bar > button {
  width: 10em;
  padding: .5em 1em;
  color: rgba(0,0,0,.8);
  border: 0 rgba(0,0,0,0);
  background-color: #E6E6E6;
  text-decoration: none;
  border-radius: 2px;
}
.nav-bar > button:hover {
  border: 1px solid black;
  background-color: grey;
}

.left-panel{
  float : left;
  width: 45%;
  margin: 2em;
  border-right: 1px solid grey;
}
.right-panel{
  float : right;
  width: 45%;
  margin: 2em;
}

.pageList {
  margin-top: 0.4em;
}

.add-page button, .right-panel button{
  width: 10em;
  padding: .5em 1em;
  color: rgba(0,0,0,.8);
  border: 0 rgba(0,0,0,0);
  background-color: #E6E6E6;
  text-decoration: none;
  border-radius: 2px;
}
.add-page button:hover, .right-panel button:hover{
  border: 1px solid black;
  background-color: grey;
}

.add-page {
  margin : 2em;
}
.add-page div:first-child{
  font-size: 2em;
  margin-bottom: 0.5em;
}
.add-page input, .add-page button {
  margin : 0.4em;
}

.right-panel div {
  padding-top :0.4em;
  padding-bottom :0.4em;
}
.right-panel button {
  width: 20em;
}

.icon-bin:hover {
  color:red;
}

.icon-pencil:hover {
  color:green;
}

div.vertical-line{
  width: 1px; /* Line width */
  background-color: black; /* Line color */
  height: 100%; /* Override in-line if you want specific height. */
  float: left; /* Causes the line to float to left of content.
    You can instead use position:absolute or display:inline-block
    if this fits better with your design */
}

header { background:gainsboro; height:5em; left:0; position:fixed; width:100%; top:0; border-bottom: 1px solid grey;}

.container {  padding-top:5em;padding-bottom:1.2em;  }

footer { background:gainsboro; bottom:0; height:1.5em; left:0; position:fixed; width:100%; text-align: right;  }
footer > span {margin-right: 1em;padding-top: 0.25em;}

.ng-enter { animation: bounceInUp 0.5s both ease-in; z-index: 8888; }
.ng-leave { animation: bounceInLeft 0.5s both ease-in; z-index: 9999; }