<!DOCTYPE html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Password Manager</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="css/app.css">
  <link rel="stylesheet" href="css/ico-moon/demo.css">
</head>
<body ng-app="passwordManagerApp" ng-controller="passwordManagerController">
  <header>
    <div class="nav-bar">
      <button ng-click="searchPassword();">Search</button>
      <button ng-click="addPassword();">Add</button>
    </div>
  </header>
  <div class="container">
    <div ng-view class="lazyEffect"></div>
  </div>

  <footer>
    <span>Password management system</span>
  </footer>
  <script src="bower_components/jquery/dist/jquery.min.js"></script>
  <script src="bower_components/angular/angular.min.js"></script>
  <script src="bower_components/angular-route/angular-route.min.js"></script>
  <script src="bower_components/angular-resource/angular-resource.min.js"></script>
  <script src="bower_components/angular-animate/angular-animate.min.js"></script>

  <script src="css/ico-moon/liga.js"></script>
  <script src="css/ico-moon/demo.js"></script>

  <script src="utility/utilityFactory.js"></script>
  <script src="components/focus.js"></script>
  <script src="js/passwordManagerController.js"></script>
  <script src="js/passwordManagerRouter.js"></script>
  <script src="js/passwordManagerRepository.js"></script>
  <script src="js/app.js"></script>
</body>
</html>
